<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.name %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
    <div class="col-md-8">
    <% if @user.imageposts.any? %>
      <h3>Imageposts (<%= @user.imageposts.count %>)</h3>
      <ol class="imageposts">
        <%= render @imageposts %>
      </ol>
    <% end %>
    </div>
</div>