@import "bootstrap";

.center {
  text-align: center;
}

/* header */

#logo {
  font-size: 1.7em;
  font-weight: bold;
}

/* sidebar */

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    color: gray;

    &:first-child {
      padding-left: 0;
      border: 0;
    }

    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

/* form */

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* imageposts */

.imageposts {
  list-style: none;
  padding: 0;
}