<%# text_fieldにvalue: @serach_params[:name]で初期状態を持たせたい %>
<%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %>
    <div class="form-inline">
      <%= f.text_field :name, class: "form-control", placeholder: "Search" %>
    </div>
<% end %>
